:root{
    --background-color:pink;
    --text-color:blue;

}

*{ 
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color:var(--text-color);
}